<div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{current_user.picture_url}}"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>

        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" href="#">New project...</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
          {% if current_user.is_admin %}
          <li>
            <a class="dropdown-item" href="/panel">admin_panel</a>
          </li>
          {% endif %}
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a class="dropdown-item" href="/logout">Sign out</a>
          </li>
        </ul>
      </div>